.Text{
    font-family: Courier;
    text-align:center;
    line-height: 250px;
    display:flex;
    flex-wrap: wrap;

}
.one{
    border: 1px solid black;
    background: yellow;
    width: 600px;
    height: 300px;
}
.two{
    border: 1px solid black;
    background: red;
    width: 600px;
    height: 300px;
}
.three{
    border: 1px solid black;
    background: blue;
    width: 600px;
    height: 300px;
}
.four{
    border: 1px solid black;
    background: green;
    width: 600px;
    height: 300px;
}
.five{
    border: 1px solid black;
    background: white;
    width: 600px;
    height: 300px;
}
.six{
    border: 1px solid black;
    background: purple;
    width: 600px;
    height: 300px;
}
.seven{
    border: 1px solid black;
    background: grey;
    width: 600px;
    height: 300px;
}
.eight{
    border: 1px solid black;
    background: pink;
    width: 600px;
    height: 300px;
}
.nine{
    border: 1px solid black;
    background: orange;
    width: 600px;
    height: 300px;
}