.imgContainer {
    overflow: hidden;
    width: 1200px;
    height: 150px;
  }
  .imgContainer img {
    width: 300px;
    height: 300px;

  }
.fullFoto{
    width: 300px;
    height: 300px;
    margin-top: -400px;
    margin-left: 908px;
}