body {
  margin: 0;
  background-color: rgb(56, 56, 56);
  font-family: courier
}

ul.topnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  border-bottom: 2px solid black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(172, 151, 123);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 20px;
  width: 160px;
  font-size: 15px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: rgb(137, 120, 97);
}

ul.topnav li a.active {
  background-color: rgba(120, 75, 68, 0.55);
}