body{
background-image: url("CooleTijgerFoto.png");
background-color: white;
background-repeat: no-repeat;
}
h1{
    color: green;
    background: darkgreen;
    width: 180px;
    margin-left: 1732px;
    margin-top: 1043px;
}