html{
    background: rgb(218, 112, 112);
}
body{
    font-family: courier;
}
.flex-container{
    display: flex;

}
.flex_child{
    width: 100px;
    height: 400px;
    text-align: center;
    font-size: 50px;
    line-height: 400px;
}
.flex_child:nth-child(1){
    background-color: yellow;
}
.flex_child:nth-child(2){
    background-color:rgb(255, 187, 187)
}
.flex_child:nth-child(3){
    background-color: red;
}
.flex_child:nth-child(4){
    background-color: blue;  
}
.flex_child:nth-child(5){
    background-color: purple;
}
.flex_child:nth-child(6){
    background-color: green;
}