.link1{
    font-size: 50px;
    width: 10px;
}
.link2{
    font-size: 50px;
    width: 10px;
    margin-left: 200px;
    margin-top: -115px;
}
.link2 :link{
    text-decoration: none;
}
.link2 :visited{
    text-decoration: none;
}
.link2 :hover{
    text-decoration: none;
}
.link2 :active{
    text-decoration: none;
}